# Customize to your needs...
alias nginx='sudo /opt/nginx/sbin/nginx'
alias ss='script/server'
alias sc='script/console'
alias cpd='cap production deploy'
alias gps='git push github staging'
alias rs='rails server'
alias be='bundle exec'
alias restart='touch tmp/restart.txt'
alias l='ls -CF'
alias la='ls -A'
alias ll='ls -lpGhaF'
alias s='subl'
alias c='clear'

# Rails
alias migrate='rake db:migrate;RAILS_ENV=test rake db:migrate'

# GIT
alias gp='git pull'
alias pgh='git push github master'
alias gc='git commit'
alias gco='git checkout'
alias ge='git commit -am "Quick commit, nothing to see here."' # Git commit - needs to be refactored to allow a message to be passed
alias gst='git status'
alias gb='git branch'
alias gd='git diff --color'
alias ga='git add .'
alias gl='git log -n 20 --oneline --color'
alias gm='git merge'
alias gbm='git branch --merged'
alias grr='git remote rename origin github'
alias gcv='git commit -av'

# RVM
alias rvm187='rvm use 1.8.7@rev'

# Mongo
# usr/local/Cellar/mongodb/2.0.6-x86_64/bin
alias mongo='sudo /usr/local/Cellar/mongodb/2.0.6-x86_64/bin/mongod'
alias mongo_shell='sudo /usr/local/Cellar/mongodb/2.0.6-x86_64/bin/mongo'


# Heroku
alias ph='git push heroku master'

# Nginx
alias nginxconf='sudo vim /opt/nginx/conf/nginx.conf'

# Postgresql
alias pgstart='pg_ctl -D /usr/local/var/postgres -l logfile start'
alias pgstop='pg_ctl -D /usr/local/var/postgres stop'

# Watch the Rails development log
alias dl='tail -f log/development.log'

# Cd into Rev site directory, set up ruby, rails, and start mysql 
alias rvm-rev='cd ~/SFC/rev;rvm use 1.8.7@rev'
